<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Тренировки | FitHard</title>
<link rel="stylesheet" href="/static/css/workouts.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>

<body>
  
  <div class="toast-container" id="toast-container"></div>


<header>
  <div class="logo">FitHard</div>
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="#">Тренировки</a></li>
      <li><a href="#">Личный кабинет</a></li>
    </ul>
  </nav>
</header>

<main>

<div class="training-form">

<label>Название тренировки</label>
<input type="text" id="workout-title" placeholder="Например: Тренировка 1">

<label>Дата тренировки</label>
<input type="date" id="workout-date">


<div class="add-button-container">
  <button class="add-btn" id="createWorkout">Создать тренировку</button>
</div>

</div>

<div class="exerciseContainer" id="exerciseContainer">
  <h2>Выберите упражнение</h2>

  <div class="search-container">
    <input id="searchInput" type="text" placeholder="Введите название упражнения, например: жим лежа" class="search-box">
    <div class="search-results" id="search-results"></div>
  </div>

  <input class="workout-sets" id="workout-sets" placeholder="Введите количество подходов, например: 5" required="True"></input>
  <input class="workout-reps" id="workout-reps" placeholder="Введите количество повторений, например: 10" required="True"></input>

</div>



</div>



</main>


<footer>
    &copy; 2026 FitHard. Все права защищены.
</footer>

<script type="module" src="/static/js/main.js"></script>

</body>
</html>